*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #6AAC96;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: saddlebrown;
    background-color: khaki;
}


#reset-btn{
    padding: 1rem;
    border-radius: 1.25rem;
    background-color: darkslategrey;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#new-btn{
    padding: 1rem;
    border-radius: 1.25rem;
    background-color: darkslategrey;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#msg{
    color: blanchedalmond;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hide{
    display: none;
}